<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to your dashboard </h1>
    <form action="/account">
    <button type="submit">Edit Account Details</button>
    </form>
<br>
    <form action="/submit">
    <button type="submit">Add Books , Authors and Reports</button>
    </form>
<br>
    <form action="/mypost">
    <button type="submit">My Posts</button>
    </form>
<br>
    <form action="/logout">
    <button type="submit">Log Out</button>
    </form>
</body>
</html>