<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Vexon || Sign Up</title>

	<!--=====FAB ICON=======-->
	<link rel="icon" href="assetss/images/favicon-32x32.png" type="image/png">

	<!--=====CSS=======-->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="assets/css/fontawesome.css" />
	<link rel="stylesheet" href="assets/css/magnific-popup.css" />
	<link rel="stylesheet" href="assets/css/nice-select.css" />
	<link rel="stylesheet" href="assets/css/slick-slider.css" />
	<link rel="stylesheet" href="assets/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="assets/css/aos.css" />
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
	<link rel="stylesheet" href="assets/css/mobile-menu.css" />
	<link rel="stylesheet" href="assets/css/utility.css" />
	<link rel="stylesheet" href="assets/css/main.css" />

	<!--=====JQUERY=======-->
	<script src="assets/js/jquery-3-7-1.min.js"></script>
</head>

<body>
	<div class="paginacontainer">
		<div class="progress-wrap">
			<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
				<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
			</svg>
		</div>
	</div>

	<!--=====progress END=======-->

	<!--=====PRELOADER START=======-->


	
	<!-- search popup end -->

	<!--=====HEADER START=======-->
    <header>
        <div class="header-area header-area1 d-none d-lg-block" id="header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header-elements">
                            <div class="site-logo">
                                <a >
                                    <img src="assets/img/logo/header-logo1.png" alt="vexon" />
                                </a>
                            </div>
                            <div class="main-menu-ex main-menu-ex1">
                                <ul>
                                    <li>
                                        <a href="/">Home <i class="fa-solid "></i></a>
                                    </li>
                                    <li class="dropdown-menu-parrent">
                                        <a href="/article" class="main1">Article<i class="fa-solid "></i></a>
                                    </li>
                                    <li class="dropdown-menu-parrent">
                                        <a href="/report" class="main1">Reports <i class="fa-solid "></i></a>
                                    </li>
                                    <li class="dropdown-menu-parrent">
                                        <a href="/book" class="main1">Books <i class="fa-solid "></i></a>
                                    </li>
									<li class="dropdown-menu-parrent">
                                        <a  class="main1">Account <i class="fa-solid fa-angle-down"></i></a>
                                        <ul>
                                           
                                            <li><a href="/account">Edit profile</a></li>
                                            <li><a href="/submit"> publish Your content</a></li>
                                            <li><a href="/logout">logout</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="header1-buttons">
								
                                <a class="theme-btn1" href="/login" > Login </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

	<!--=====HEADER END=======-->

	<!--=====Mobile header start=======-->
	<div class="mobile-header mobile-header-main d-block d-lg-none">
		<div class="container-fluid">
			<div class="col-12">
				<div class="mobile-header-elements">
					<div class="mobile-logo">
						<a ><img src="assets/img/logo/header-logo1.png" alt="vexon" /></a>
					</div>
					<div class="mobile-nav-icon">
						<i class="fa-duotone fa-bars-staggered"></i>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="mobile-sidebar d-block d-lg-none">
		<div class="logo-m">
			<a ><img src="assets/img/logo/header-logo1.png" alt="vexon" /></a>
		</div>
		<div class="menu-close">
			<i class="fa-solid fa-xmark"></i>
		</div>
		<div class="mobile-nav">
			<ul>
				<li class="dropdown-menu-parrent">
					<a href="#" class="main1">Account <i class="fa-solid fa-angle-down"></i></a>
					<ul>
						
						<li><a href="/account">Edit profile</a></li>
						<li><a href="/submit"> publish Your content</a></li>
						<li><a href="/logout">logout</a></li>
					</ul>
				</li>
			</ul>

			<div class="mobile-button">
				<a href="/login" class="theme-btn1" >Log In <i class="fa-solid fa-arrow-right"></i></a>
			</div>

			<div class="footer-contact-area1 md:pl-0 pl-20 sm:pl-0 mt-30">
				<h3 class="text-24 leading-26 font-semibold title1 pb-10">Get in touch</h3>
				<div class="contact-box d-flex">
					<div class="icon">
						<img src="assets/img/icons/footer1-icon1.svg" alt="vexon" />
					</div>
					<div class="text">
						<a href="mailto:contact@vexon.com">contact@vexon.com</a>
					</div>
				</div>

				<div class="contact-box d-flex">
					<div class="icon">
						<img src="assets/img/icons/footer1-icon2.svg" alt="vexon" />
					</div>
					<div class="text">
						<a href="#">123 Innovation Drive,<br />
							Tech City, ST 12345, USA</a>
					</div>
				</div>

				<div class="contact-box d-flex">
					<div class="icon">
						<img src="assets/img/icons/footer1-icon3.svg" alt="vexon" />
					</div>
					<div class="text">
						<a href="tel:+919904893164">9904893164</a>
					</div>
				</div>
			</div>

			<div class="contact-infos">
				<h3>Our Social Network</h3>
				<ul class="social-icon">
					<li>
						<a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa-brands fa-x-twitter"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa-brands fa-youtube"></i></a>
					</li>
					<li>
						<a href="#"><i class="fa-brands fa-instagram"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!--=====Mobile header end=======-->


	<!--===== CONTENT AREA START=======-->

	<div class="login-page sp bg-cover" style="background-image: url(assets/img/bg/login-page-bg.jpg)">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="inner-main-heading">
						<div class="page-prog">
							<a href="#">Home</a>
							<span><i class="fa-solid fa-angle-right"></i></span>
							<p class="bold">Sign Up</p>
						</div>
						<h1>Sign Up</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 m-auto">
					<div class="login-form">
						<h3>Create Your Account</h3>
						<p>Create an account today </p>
						<form action="/register" method="POST">
							<div class="single-input">
								<label>UserName</label>
								<input type="text" id="username" name="username" required>
							</div>
							<div class="single-input">
								<label>Email</label>
								<input type="email" id="email" name="email" required>
							</div>
							<div class="single-input">
								<label for="password">Password:</label>
                                <input type="password" id="password" name="password" required>
							</div>
							<div class="button mt-30">
								<button type="submit" class="theme-btn1">Create An Account</button>
							</div>

							<% if (error_msg.length > 0) { %>
								<div class="alert alert-danger">
									<%= error_msg %>
								</div>
							<% } %>
							
							<% if (success_msg.length > 0) { %>
								<div class="alert alert-success">
									<%= success_msg %>
								</div>
							<% } %>

							
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!--===== CONTENT AREA END=======-->

	<!--=== js === -->
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/fontawesome.js"></script>
	<script src="assets/js/mobile-menu.js"></script>
	<script src="assets/js/jquery.magnific-popup.js"></script>
	<script src="assets/js/owl.carousel.min.js"></script>
	<script src="assets/js/jquery.countup.js"></script>
	<script src="assets/js/slick-slider.js"></script>
	<script src="assets/js/circle-progress.js"></script>
	<script src="assets/js/jquery.nice-select.js"></script>
	<script src="assets/js/gsap.min.js"></script>
	<script src="assets/js/ScrollTrigger.min.js"></script>
	<script src="assets/js/swiper-bundle.js"></script>
	<script src="assets/js/Splitetext.js"></script>
	<script src="assets/js/text-animation.js"></script>
	<script src="assets/js/aos.js"></script>
	<script src="assets/js/SmoothScroll.js"></script>
	<script src="assets/js/jaquery-ripples.js"></script>
	<script src="assets/js/jquery.lineProgressbar.js"></script>
	<script src="assets/js/animation.js"></script>
	<script src="assets/js/main.js"></script>
</body>

</html>